/* Variables */
/* Styling */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 480px) {
  * {
    font-size: 9px;
  }
}

body, button {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 85%;
  max-width: 1224px;
  height: inherit;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  height: 72px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 20px 0;
  }
}

.header-container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  margin-right: auto;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .logo {
    margin: 20px auto;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav li {
  margin: 0 12px;
}

.nav .nav-link {
  font-size: 1.4rem;
}

.nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #0035F2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.nav .nav-link:hover::after {
  width: 100%;
}

.nav-button {
  background-color: #0035F2;
  color: white;
  border: none;
  padding: 4px 16px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 20px;
  margin-left: 12px;
}

@media (max-width: 768px) {
  .nav-button {
    margin-left: 0;
    margin: 20px 0;
  }
}

.nav-button:hover {
  background-color: #1439BE;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Hero */
.hero {
  background-color: #0035F2;
  position: relative;
}

.background-box {
  position: absolute;
  height: 30%;
  background-color: #1548ff;
  width: 70%;
}

@media (max-width: 768px) {
  .background-box {
    display: none;
  }
}

.background-box.left {
  top: 5rem;
  left: 0;
  border-radius: 0 80px 80px 0;
}

.background-box.right {
  bottom: 5rem;
  right: 0;
  border-radius: 80px 0 0 80px;
}

.hero-container {
  position: relative;
  z-index: 20;
  text-align: center;
  padding: 8rem;
}

@media (max-width: 768px) {
  .hero-container {
    padding: 6rem 1rem;
  }
}

.hero-container h4 {
  color: white;
  font-size: 4.6rem;
}

@media (max-width: 768px) {
  .hero-container h4 {
    font-size: 3.2rem;
  }
}

.hero-container p {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .hero-container p {
    font-size: 1.6rem;
  }
}

.hero-container .hero-button-container {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .hero-container .hero-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-container .hero-button-container .hero-button {
  width: 160px;
  height: 40px;
  margin: 0 1.4rem;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 480px) {
  .hero-container .hero-button-container .hero-button {
    margin: 1.4rem 0;
    width: 90%;
  }
}

.hero-container .hero-button-container .hero-button:hover {
  background-color: #ccd0fc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Sections */
.section {
  margin: 6rem 0;
}

.section-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.6rem;
  }
}

.section-title::before {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background-color: #0035F2;
}

/* Description */
.description-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.description-item {
  background-color: white;
  padding: 3rem;
  margin: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.description-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #0035F2;
}

.description-item h6 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.description-item p {
  font-size: 1.3rem;
}

/* Footer */
.footer {
  background-color: #ECECEC;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
  border-bottom: #868686 1px solid;
}

.footer-left, .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-left li, .footer-right li {
  margin-right: 24px;
}

.footer-left li a, .footer-right li a {
  font-size: 1.4rem;
  color: #444444;
}

.footer-left li a:hover, .footer-right li a:hover {
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-right {
  margin-left: auto;
}

.footer-right li {
  margin-right: 0;
  margin-left: 12px;
}

.footer-right li a {
  font-size: 1.2rem;
}

.footer-bottom {
  text-align: center;
  padding: 3rem 0;
  font-size: 1.2rem;
  color: #585858;
}
/*# sourceMappingURL=style.css.map */